@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
  font-size: 11px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1.5rem;
}
.login__form .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #40407a;
  margin-top: 3.5rem;
  font-weight: bold;
}
.login__form .logo__header {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  margin-left: 0.25rem;
}
.login__form p.welcome {
  color: #40407a;
  font-size: 1rem;
  margin-top: 0.25rem;
  font-weight: 600;
}
.login__form .login__methods {
  margin-top: 5.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.login__form .login__methods.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}
.login__form .login__methods li a {
  color: lightgray;
  position: relative;
  padding-bottom: 0.75rem;
  display: inline-block;
  margin-top: 1rem;
}
.login__form .login__methods li a.current {
  color: #000 !important;
}
.login__form .login__methods li a.current::after {
  left: 0;
  right: 0;
  width: 20px;
}
.login__form .login__methods li a.current:focus::after {
  left: 0;
  right: 0;
  width: 20px;
}
.login__form .login__methods li a::after {
  border-bottom: 2px solid #40407a;
  content: "";
  bottom: -0.03rem;
  z-index: -1;
  left: 50%;
  right: 50%;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 0;
  margin: 0 auto;
}
.login__form .login__methods::after {
  content: "";
  height: 0.5px;
  position: absolute;
  width: calc(100% + 3rem);
  background-color: rgba(0, 0, 0, 0.15);
  bottom: 0;
}
.login__form .tab {
  width: 100%;
}
.login__form .tab__text {
  font-size: 0.6rem;
  color: darkgray;
  margin-bottom: 0.25rem;
  font-weight: 300;
}
.login__form .tab input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.login__form .tab input:focus {
  outline-color: #40407a;
}
.login__form .tab input.invalid {
  border-color: red;
  border-width: 3px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.login__form .tab input::placeholder {
  font-family: "Almarai", sans-serif;
  font-size: 0.75rem;
}
.login__form .password__tab {
  position: relative;
}
.login__form .password__tab .forget__pw {
  position: absolute;
  bottom: -1.25rem;
  color: #40407a;
  left: 0;
}
.login__form .password__tab .forget__pw:hover {
  text-decoration: underline;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.login__form .phone__tab {
  display: none;
  position: relative;
}
.login__form .phone__tab .tab__text {
  position: relative;
  right: 4.5rem;
}
.login__form .phone__tab::after {
  content: "الكود";
  position: absolute;
  font-size: 0.6rem;
  color: darkgray;
  margin-bottom: 0.25rem;
  font-weight: 300;
  top: 0;
  right: 0rem;
}
.login__form .phone__tab--2 {
  display: flex;
}
.login__form .phone__tab--2 .countryCode {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-family: "Almarai", sans-serif;
  margin-left: 1rem;
  padding: 0 0.25rem;
}
.login__form .password__tab {
  display: none;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.login__form #next_btn,
.login__form #submit_btn {
  cursor: pointer;
  width: 100%;
  padding: 0.75rem;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: #121943;
  box-shadow: 0 3px rgba(18, 25, 67, 0.79);
  color: #fff;
  margin-top: 1rem;
  transition: all 0.3s;
  font-family: "Almarai", sans-serif;
}
.login__form #next_btn:hover,
.login__form #submit_btn:hover {
  opacity: 0.9;
}
.login__form #next_btn:active,
.login__form #submit_btn:active {
  box-shadow: 0 1px rgba(18, 25, 67, 0.79);
  transform: translateY(2px);
}
.login__form #submit_btn {
  display: none;
}
.login__form .form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  width: 100%;
}
.login__form .form__footer__getApp {
  font-size: 0.55rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.login__form .form__footer--stores {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login__form .form__footer--stores .store {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 50%;
}
.login__form .form__footer--stores .store:hover {
  border-color: #40407a;
}
.login__form .form__footer--stores .store__name {
  color: #000;
  margin-right: 0.5rem;
  font-size: 0.65rem;
}

#home {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1rem;
  font-family: "Almarai", sans-serif;
  display: none;
}
#home a {
  color: #4776e6;
}
#home a:hover {
  text-decoration: underline;
}

#my__posts {
  z-index: 1000;
  font-size: 0.8rem;
  position: absolute;
  background: #4776e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e54e9, #4776e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 10px 13px -7px #000, 12px 18px 11px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 13px -7px #000000, 12px 18px 11px 4px rgba(0, 0, 0, 0.5);
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #fff;
  border-radius: 5px;
  font-family: "Ubuntu", cursive;
  text-transform: capitalize;
  width: 80%;
}
#my__posts .post {
  margin-bottom: 0.5rem;
  border: 3px solid #40407a;
  padding: 0.5rem;
  border-radius: 5px;
}
#my__posts .post .like {
  color: blue;
  outline: none;
  border: 3px solid currentColor;
  padding: 0.25rem;
  transition: all 0.3s;
  margin-left: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
#my__posts .post .like::before {
  content: "Like ";
}
#my__posts .post .like:hover {
  color: crimson;
}
#my__posts span {
  color: navy;
  font-weight: 600;
  text-decoration: underline;
}

#error,
#correct {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-style: italic;
  display: none;
}

#error {
  color: red;
}

#correct {
  font-size: 1rem;
  color: #2dce69;
}

::selection {
  background-color: silver;
}

/*# sourceMappingURL=style.css.map */
